//
//	Simple Documentation
//	Component - sp-doc
//

.#{$namespace}doc {
	background: $item-background-color;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	color: $item-text-color;
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.4em;
	position: relative;
	text-decoration: none;
	transition: transform .6s;

	+ & {
		border-top: 0;
	}

	&__img {
		background: darken($item-background-color, 5);
	}

	&__preview {
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-top: 250/400 * 100%;
		}

		.#{$namespace}doc__img {
			bottom: 0;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}

	&__header {
		padding: $item-padding;
	}

	&__title {
		color: $item-text-color;
		display: block;
		font-size: 1em;
		line-height: 1;
		margin: 0;
		overflow: hidden;
		text-decoration: none;
		text-overflow: ellipsis;
		user-select: none;
		white-space: nowrap;

		&:focus,
		&:active{
			box-shadow: none;
		}
	}

	&__actions {
		opacity: 0;
		position: absolute;
		top: $item-padding;
		right: $item-padding;
	}

	@include interactive() {
		transform: scale(1.02) translateZ(10px);

		.#{$namespace}doc__actions {
			opacity: 1;
		}
	}

	&--highlight {

	}

	&--list-item {
		padding: $item-padding;
	}
}
