//
//  Simple Documentation - Settings
//  - Variables
//

$border-color: #ccc;
$background-light: #eee;
$text-color: #333;


$toolbar-background-color: #f5f5f5;
$toolbar-border-color: #ddd;

$item-background-color: #fafafa;
$item-text-color: #23282d;
$item-padding: 15px;
